.slide{
    background-color: #FEEAE9;
    padding-left: 100px;
    height: 450px;
    border-radius: 10px;
    
}
.pink{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
